HOTSPOT_IFACE=wlan0
HOTSPOT_SSID=
HOTSPOT_PASSWORD=
HOTSPOT_HIDDEN=true
HOTSPOT_BAND=2.4GHz
HOTSPOT_CHANNEL=6
HOTSPOT_GATEWAY=10.42.0.1

STICK_MAC=
LOGGER_SERIAL=

PROXY_PORT=10443
UPSTREAM_HOST=5406.deviceaccess.host
UPSTREAM_PORT=10443
IGEN_CA_SHA256=35:16:30:1F:78:A5:B8:6A:35:24:EA:80:57:F9:0C:99:C1:2E:92:95:34:CB:B4:F2:0C:6A:9C:BF:B3:94:10:21
CLOUD_WRITES=allow
POLL_MODE=off
POLL_INTERVAL_S=30
POLL_FIRST_REG=60
POLL_LAST_REG=199
POLL_BATCH_GAP_S=1
DISCOVER_FIRST_REG=0
DISCOVER_LAST_REG=799
DISCOVER_BATCH_GAP_S=3
READ_BATCH_SIZE=16
READ_TIMEOUT_S=8
READ_START_DELAY_S=20
PROBE_FIRST_REG=183
PROBE_REG_COUNT=10

STICK_IDLE_TIMEOUT_S=600
CLOUD_CONNECT_TIMEOUT_S=20
CLOUD_IDLE_TIMEOUT_S=600
LOCAL_IDLE_TIMEOUT_S=300
ADDR_WAIT_TIMEOUT_S=60

LOCAL_BIND=
LOCAL_PORT=8899
LOCAL_ALLOW=

SERVICE_USER=deyeproxy
INSTALL_DIR=/opt/deye-proxy
CONF_DIR=/etc/deye-proxy
LOG_DIR=/var/log/deye-proxy
LOG_KEEP_DAYS=92
